Sprites/References
./OrbitalGamePlan
./SpritesIgnore
./SoundIgnore
*.un~
*.swp
./Old script ignore
./Cheruton v1.0/project.godot
./Cheruton v1.0/.import
.*
!/.gitignore
Cheruton v1.0/Props/grassLandsParralaxBg/Sprites/Grasslands-Mountain.png.import
Cheruton v1.0/Props/grassLandsParralaxBg/Sprites/Grasslands-Mountain2.png.import
Cheruton v1.0/Props/grassLandsParralaxBg/Sprites/Grasslands-Sky.png.import
Cheruton v1.0/Enemy/Boss/spiderBoss/Sprite/MpK8sk3.png.import
Cheruton v1.0/Enemy/Boss/spiderBoss/Sprite/odcvMly.png.import
Cheruton v1.0/Enemy/Boss/spiderBoss/Sprite/RxVufNs.png.import
Cheruton v1.0/Enemy/Boss/spiderBoss/Sprite/Vzb1280.png.import
Cheruton v1.0/Enemy/Boss/spiderBoss/Sprite/yCoLaOb.png.import
Cheruton v1.0/Display/Dialouge/Sprites/next-indicator.png.import
Cheruton v1.0/Display/Dialouge/Sprites/menu_section_9patch.png.import
Cheruton v1.0/addons/EXP-System-Dialog/Dialog Editor/Nodes/Line/icon_distraction_free.svg.import
Cheruton v1.0/Display/Dialouge/Sprites/dialog-background.png.import
Cheruton v1.0/Display/Dialouge/Sprites/dialogtes.png.import
Cheruton v1.0/Levels/levelAssets/grassLandsParralaxBg/Sprites/Grasslands-cloud.png.import
Cheruton v1.0/Levels/levelAssets/grassLandsParralaxBg/Sprites/Grasslands-forest.png.import
Cheruton v1.0/Levels/levelAssets/grassLandsParralaxBg/Sprites/Grasslands-hill.png.import
Cheruton v1.0/Levels/levelAssets/grassLandsParralaxBg/Sprites/Grasslands-mountain.png.import
Cheruton v1.0/Levels/levelAssets/grassLandsParralaxBg/Sprites/Grasslands-mountain2.png.import
Cheruton v1.0/Levels/levelAssets/grassLandsParralaxBg/Sprites/Grasslands-sky.png.import
Cheruton v1.0/Levels/levelAssets/grassLandsParralaxBg/Sprites/Grasslands-water.png.import
