Sprites/References
./OrbitalGamePlan
./SpritesIgnore
./SoundIgnore
*.un~
*.swp
./Old script ignore
Cheruton v1.0/project.godot
./Cheruton v1.0/.import
.*
!/.gitignore
Cheruton v1.0/Props/grassLandsParralaxBg/Sprites/Grasslands-Mountain.png.import
Cheruton v1.0/Props/grassLandsParralaxBg/Sprites/Grasslands-Mountain2.png.import
Cheruton v1.0/Props/grassLandsParralaxBg/Sprites/Grasslands-Sky.png.import
