Sprites/References
./OrbitalGamePlan
./SpritesIgnore
./SoundIgnore
*.un~
*.swp
./Old script ignore
./Cheruton v1.0/project.godot
./Cheruton v1.0/.import
.*
!/.gitignore
Cheruton v1.0/Props/grassLandsParralaxBg/Sprites/Grasslands-Mountain.png.import
Cheruton v1.0/Props/grassLandsParralaxBg/Sprites/Grasslands-Mountain2.png.import
Cheruton v1.0/Props/grassLandsParralaxBg/Sprites/Grasslands-Sky.png.import
Cheruton v1.0/Enemy/Boss/spiderBoss/Sprite/MpK8sk3.png.import
Cheruton v1.0/Enemy/Boss/spiderBoss/Sprite/odcvMly.png.import
Cheruton v1.0/Enemy/Boss/spiderBoss/Sprite/RxVufNs.png.import
Cheruton v1.0/Enemy/Boss/spiderBoss/Sprite/Vzb1280.png.import
Cheruton v1.0/Enemy/Boss/spiderBoss/Sprite/yCoLaOb.png.import
Cheruton v1.0/Display/Dialouge/Sprites/next-indicator.png.import
Cheruton v1.0/Display/Dialouge/Sprites/menu_section_9patch.png.import
Cheruton v1.0/addons/EXP-System-Dialog/Dialog Editor/Nodes/Line/icon_distraction_free.svg.import
Cheruton v1.0/Display/Dialouge/Sprites/dialog-background.png.import
Cheruton v1.0/Display/Dialouge/Sprites/dialogtes.png.import
Cheruton v1.0/Levels/levelAssets/grassLandsParralaxBg/Sprites/Grasslands-cloud.png.import
Cheruton v1.0/Levels/levelAssets/grassLandsParralaxBg/Sprites/Grasslands-forest.png.import
Cheruton v1.0/Levels/levelAssets/grassLandsParralaxBg/Sprites/Grasslands-hill.png.import
Cheruton v1.0/Levels/levelAssets/grassLandsParralaxBg/Sprites/Grasslands-mountain.png.import
Cheruton v1.0/Levels/levelAssets/grassLandsParralaxBg/Sprites/Grasslands-mountain2.png.import
Cheruton v1.0/Levels/levelAssets/grassLandsParralaxBg/Sprites/Grasslands-sky.png.import
Cheruton v1.0/Levels/levelAssets/grassLandsParralaxBg/Sprites/Grasslands-water.png.import
Cheruton v1.0/Display/MainMenu/Sprites/MainMenuback.png.import
Cheruton v1.0/Display/MainMenu/Sprites/MainMenuBase.png.import
Cheruton v1.0/Display/MainMenu/Sprites/MainMenuexampl2.png.import
Cheruton v1.0/Display/MainMenu/Sprites/MainMenuexample1.png.import
Cheruton v1.0/Display/MainMenu/Sprites/MainMenuselect.png.import
Cheruton v1.0/Display/MainMenu/Sprites/MainMenuword1.png.import
Cheruton v1.0/Display/MainMenu/Sprites/MainMenuword2.png.import
Cheruton v1.0/Enemy/Boss/spiderBossIK/Sprites/Enemy_SpiderBoss_feelers.png.import
Cheruton v1.0/Enemy/Boss/spiderBossIK/Sprites/Enemy_SpiderBoss_head.png.import
Cheruton v1.0/Enemy/Boss/spiderBossIK/Sprites/Enemy_SpiderBoss_legback.png.import
Cheruton v1.0/Enemy/Boss/spiderBossIK/Sprites/Enemy_SpiderBoss_legfront.png.import
Cheruton v1.0/Enemy/Boss/spiderBossIK/Sprites/Enemy_SpiderBoss_legmid.png.import
Cheruton v1.0/Enemy/Boss/spiderBossIK/Sprites/Enemy_SpiderBoss_midbody.png.import
Cheruton v1.0/Levels/commonLevelAssets/grassLandsParralaxBg/Sprites/Grasslands-cloud.png.import
Cheruton v1.0/Levels/commonLevelAssets/grassLandsParralaxBg/Sprites/Grasslands-forest.png.import
Cheruton v1.0/Levels/commonLevelAssets/grassLandsParralaxBg/Sprites/Grasslands-hill.png.import
Cheruton v1.0/Levels/commonLevelAssets/grassLandsParralaxBg/Sprites/Grasslands-mountain.png.import
Cheruton v1.0/Levels/commonLevelAssets/grassLandsParralaxBg/Sprites/Grasslands-mountain2.png.import
Cheruton v1.0/Levels/commonLevelAssets/grassLandsParralaxBg/Sprites/Grasslands-sky.png.import
Cheruton v1.0/Levels/commonLevelAssets/grassLandsParralaxBg/Sprites/Grasslands-water.png.import
Cheruton v1.0/Levels/Hometown/NPCs/buff/18fps_limitPallete_PIL_HomeTown_NPC_buff.png.import
Cheruton v1.0/Levels/Hometown/NPCs/captain/23fps_limitPallete_PIL_HomeTown_NPC_captain.png.import
Cheruton v1.0/Levels/Hometown/NPCs/cat/18fps_limitPallete_PIL_HomeTown_NPC_cat.png.import
Cheruton v1.0/Levels/Hometown/NPCs/chad/22fps_limitPallete_PIL_HomeTown_NPC_chad.png.import
Cheruton v1.0/Levels/Hometown/NPCs/clgirl/22fps_limitPallete_PIL_HomeTown_NPC_clgirl.png.import
Cheruton v1.0/Levels/Hometown/NPCs/coolboy/18fps_limitPallete_PIL_HomeTown_NPC_coolboy.png.import
Cheruton v1.0/Levels/Hometown/NPCs/genericgirl/18fps_limitPallete_PIL_HomeTown_NPC_genericgirl.png.import
Cheruton v1.0/Levels/Hometown/NPCs/gramps/22fps_limitPallete_PIL_HomeTown_NPC_gramps.png.import
Cheruton v1.0/Levels/Hometown/NPCs/loli/20fps_limitPallete_PIL_HomeTown_NPC_loli.png.import
Cheruton v1.0/Levels/Hometown/NPCs/moneygirl/22fps_limitPallete_PIL_HomeTown_NPC_moneygirl.png.import
Cheruton v1.0/Levels/Hometown/NPCs/whippersnapper/22fps_limitPallete_PIL_HomeTown_NPC_whippersnapper.png.import
Cheruton v1.0/Levels/Hometown/Sprites/Grasslands.png.import
Cheruton v1.0/Levels/Hometown/Sprites/HomeTown-BuidingsALL.png.import
Cheruton v1.0/Levels/Hometown/Sprites/HomeTown-ForegroundALL.png.import
Cheruton v1.0/Props/bouncePad/sprites/General-Assets.png.import
