
/* sliders connected to number input */
.proj-slider
{
    width: 74%;
    display: inline-block;
    margin-top: -4px;
}
.proj-slider input
{
    position: relative;
    top: 5px;
}
.proj-slider-val
{
    width: 25%;
    display: inline-block;
    margin-top: -5px;
}

/* smaller labels */
label
{
    margin-bottom: 2px;
}

/* remove selection from stuff */
p, label, h1, h2, h3, h4, span, img, a
{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* no dragging */
* {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

/* make a text white with stroke */
.white-with-stroke
{
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

/* alert for buttom preview image */
.preview-alert
{
    position: relative;
    width: calc(100% - 20px);
    margin-top: -60px;
    left: -15px;
    margin-bottom: -80px;
    margin-left: 10px;
    margin-right: -5px;
}

/* loader spinner */
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-left: -60px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* make body and html full height */
html,body {
    height:100%;
}

/* make navbar whiter, even when not active */
.navbar-inverse .navbar-nav>li>a
{
    color: #ddd;
}

/* smaller main form */
#project-settings
{
    font-size: 82%
}
#project-settings .form-control
{
    height: 30px;
}
#project-settings .checkbox
{
    font-size: 110%;
}
#project-settings .checkbox label
{
    line-height: 22px;
}

/* smaller navbar */
.dropdown-toggle
{
    padding-bottom: 5px;
    padding-top: 5px;
}
.navbar-nav>li>a
{
    padding-bottom: 5px;
    padding-top: 5px;
}
.navbar
{
    min-height: 0px;
}

/* fixing the broken color picker lib */
.colorpicker-selectors-color
{
    display: inline-block;
    height: 12px;
    width: 12px;
    margin: 1px 1px 0px 1px;
    cursor: pointer;
    background-color: white;
}
.colorpicker div {
    position: initial !important;
}

/* fix split.js floating and height properties */
.split, .split-flex {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 8px 8px 8px 8px;
}

.gutter {
    background-color: #eee;

    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('../grips/vertical.png');
    cursor: ew-resize;
}

.gutter.gutter-vertical {
    background-image: url('../grips/horizontal.png');
    cursor: ns-resize;
}

.split.split-horizontal, .gutter.gutter-horizontal {
    height: 100%;
    float: left;
}

/* preview images panel */
.preview-panel
{
    display: block;
    height: calc(100vh - 70px);
    width: 100%;
    padding: 5px 5px 5px 5px;
    border: solid black 1px;
}

/* preview pictures */
.preview-pic
{
    object-fit: contain;
    margin: auto;
    display: block;
    image-rendering: pixelated;
}
.full-size
{
    height: 100%;
    width: 100%;
}

/* cards in menu */
.card-body
{
    margin-top: 10px;
}
.form-group 
{
    margin-bottom: 0px;
    padding-top: 10px;
}

/* submenu button */
.submenu
{
    text-decoration: none !important;
    font-size: 140%;
}
.submenu:active
{
    text-decoration: none;
}

/* handle arrow right / down when clicking on collapse menu */
a[aria-expanded=true] .fa-chevron-up {
    display: none;
 }
 a[aria-expanded=false] .fa-chevron-down {
    display: none;
 }

 /* preview options menu */
 .preview-options button
 {
    width:100%; 
    display: block;
    padding: 5px;
    text-align: left;
 }